<h2>List Products</h2>
<button class="btn btn-secondary" (click)="onSelectAll()">All</button>
<button class="btn btn-info" (click)="onSelectBestSell()">Best Seller</button>
<button class="btn btn-primary" (click)="onSelectInStock()">Most in Stock</button>

<div class="row mt-3">
    <div class="col-md-4">
        <div *ngIf="typeSort == ''">
            <app-product-list [typeSort]="''"></app-product-list>
        </div>
        <div *ngIf="typeSort == 'bestSell'">
            <app-product-list [typeSort]="'bestSell'"></app-product-list>
        </div>
        <div *ngIf="typeSort == 'inStock'">
            <app-product-list [typeSort]="'inStock'"></app-product-list>
        </div>
    </div>

    <div class="col-md-8">
        <app-product-detail *ngIf="selectedProduct; else textInfo" [product]="selectedProduct"></app-product-detail>

        <ng-template #textInfo>
            <p>Please select a Product!</p>
        </ng-template>
    </div>
</div>